<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="~{admin/partial/head :: head}"></head>
<script>function daochu(){self.location='/admin/putExcel';}</script>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:insert="~{admin/partial/sidebar :: sidebar}">
    </nav>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>合作伙伴列表</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/admin/home">主页</a>
                    </li>
                    <li>
                        <a>OA办公管理</a>
                    </li>
                    <li>
                        <strong>学生列表</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="row">
                                <form class="form-inline">
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <input type="text" id="keyword" placeholder="请输入合作伙伴名称" class="input-sm form-control">
                                            <span class="input-group-btn">
		                                        		<button id="oa-search" type="button" class="btn btn-sm btn-primary">搜索</button>
		                                        	</span>
                                        </div>
                                    </div>
                                    <button id="oa-add" type="button" class="btn btn-sm btn-danger">添加友链</button>
                                    <button type="button" class="btn btn-sm btn-danger" onclick="daochu()">导出excel</button>
                                </form>
                            </div>

                            <!-- 表格数据 -->
                            <div id="dataList">

                            </div>
                            <div >
                                <div style="float: left" class="pagination">共
                                    <span id="total-num"></span>
                                    条记录
                                    <span id="current-page"></span>
                                    /
                                    <span id="total-page"></span>
                                </div>

                                <div id="pagination" class="pagination" style="float: right">

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--添加footer-->
    <div class="footer fixed" th:insert="~{admin/partial/footer :: copyright}">

    </div>

</div>

</div>

<script src="/js/jquery.min.js"></script>
<script src="/admin/js/bootstrap.min.js"></script>
<script src="/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/admin/js/hplus.js"></script>
<script src="/admin/js/partner/partner1.js"></script>
<script src="/admin/js/validation.js"></script>
<script src="/js/jqPaginator.min.js"></script>
<script type="text/javascript" src="/admin/js/flavr/flavr/js/flavr.min.js"></script>
<script type="text/javascript" src="/admin/js/flavr/base.js"></script>

<script src="/admin/js/userinfo.js"></script>
<script src="/admin/js/cropper.min.js"></script>
<script src="/admin/js/upload-image.js"></script>

</body>

</html>
